batchprocessing/src/main/mule/batchprocessing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="19537048-64aa-4a6c-bd9d-d4af665559a5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="batchprocessingFlow" doc:id="e8c07ab5-bd83-4188-987c-c37268deada1" >
		<http:listener doc:name="Listener" doc:id="cd902985-d77d-4ab0-a523-22e03f9d80e6" config-ref="HTTP_Listener_config" path="/batch">
			<http:response >
				<http:body ><![CDATA[batch job complated]]></http:body>
			</http:response>
		</http:listener>
		<set-payload value='#[[1,2,3, "mule", 5,6, "siva", 8, "krishna" ,10]]' doc:name="Set Payload" doc:id="5de94191-5aa8-4612-a86f-224582894dbe" />
		<batch:job jobName="batchprocessingBatch_Job" doc:id="620b2641-281a-4d4f-925c-293881f080f3" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="a4bf2a07-5a94-4bf8-ad93-b37cb231f0dc" acceptPolicy="ONLY_FAILURES">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="ee6bbc59-a97b-4a63-9240-c1e8e59dbb35" size="5">
						<logger level="INFO" doc:name="Logger" doc:id="3e19eae9-7cc1-46ac-b343-68c87b45a34c" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="babbede8-0f2c-4918-9c14-66da26b15132" message="failed records"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
